<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>楽楽会議</title>
        <link rel="icon" type="image/png" href="/img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body style="padding-top: 5rem">
        <div style="padding-bottom: 5rem">
            {{{body}}}
        </div>
    </body>
</html>
